<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>sliderBaner</title>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
</head>
<body>

<div class="sliderProducts">

    <button id="left" class="arrow-button">Siguiente</button>

    <li class ="slider">
        <a href="#"><img class="banner" src="../../assets/Placeholder.png"></a>
        <a href="#"><img class="banner" src="../../assets/Placeholder.png"></a>
        <a href="#"><img class="banner" src="../../assets/Placeholder.png"></a>

    </li>

    <button id="right" class="arrow-button">Anterior</button>

</div>

</body>
<script>
    w3IncludeHTML();

</script>
</html>