@import "../basic.css";
@import "../items/productItem.css";

.slider-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

    background-color: var(--black);
}

.product-section {
    display: flex;
    flex-direction: row;
    width: 85%;
    overflow: hidden;
}

.product-container {
    margin: 10px 45px 10px 45px;
    border: 2px solid var(--white)
}

.arrow-button {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 4px solid transparent;
    background: linear-gradient(black, black) padding-box, linear-gradient(to right, var(--aquamarine), var(--violet)) border-box;

    width: 60px;
    height: 60px;
    margin: 0px 20px 0px 20px;
}

.arrow-button img {
    width: 70%;
    height: 70%;

    margin-left: 10%;
}

.arrow-button:hover {
    box-shadow: 0px 0px 50px var(--violet);
    background: linear-gradient(to right, var(--aquamarine), var(--violet)) border-box;
}
.arrow-button:active { transform: translateY(4px); }