@import "../basic.css";

.link { text-decoration: none; }

.new {
    background-color: var(--violet);
    display: flex;
    text-decoration: none;
    border: 2px solid black;
}

#new-left { justify-content: flex-start; }
#new-right { justify-content: space-between; }

.description {
    margin: 0px 40px 0px 40px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: left;

    font-size: 20pt;
    text-decoration: none;
    color: var(--black);
}

.description .title {
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 10px;
}

.link img {
    background-color: var(--white);
    margin: 40px;
    width: 30%;
}