@import "../../components/css/base/header.css";
@import "../../components/css/banners/bannerMain.css";
@import "../../components/css/sliders/sliderProduct.css";
@import "../../components/css/sections/pageSection.css";
@import "../../components/css/base/footer.css";

body {
    margin: 0;
    width: 100%;
}





.pages-section-home {
    display: flex;
}