<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Slider Product</title>
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
    <link rel="stylesheet" href="../../css/sliders/sliderProduct.css" type="text/css">
</head>
<body>
    <div class="slider-products">
        <div id="left" class="arrow-button"><img src="../../../assets/icons/slider-left.png"/></div>
        <div class="product-section">
            <div class="product-container" w3-include-html="../items/productItem.html"></div>
            <div class="product-container" w3-include-html="../items/productItem.html"></div>
            <div class="product-container" w3-include-html="../items/productItem.html"></div>
            <div class="product-container" w3-include-html="../items/productItem.html"></div>
            <div class="product-container" w3-include-html="../items/productItem.html"></div>
        </div>
        <div id="rigth" class="arrow-button"><img src="../../../assets/icons/slider-right.png"></div>
    </div>
<script>w3IncludeHTML();</script>
</body>
</html>