<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Slider Banner</title>
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
    <link rel="stylesheet" href="../../css/sliders/sliderBanner.css" type="text/css">
</head>
<body>
    <div class="slider-banner">
        <a class="banner-link" href="#"><img class="banner" src="../../../assets/placeholder.png"></a>
        <div class="above-section">
            <button id="left" class="arrow-button"><img src="../../../assets/icons/slider-left.png"/></button>
            <button id="right" class="arrow-button"><img src="../../../assets/icons/slider-right.png"/></button>
        </div>
    </div>
</body>
<script>w3IncludeHTML();</script>
</html>