<footer class="page-footer">
  <div class="info">
    <div class="item-info">
      <h3>Lorem Ipsum</h3>
      <div class="info-text">
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
      </div>
    </div>

    <div class="item-info">
      <h3>Lorem Ipsum</h3>
      <div class="info-text">
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
      </div>
    </div>

    <div class="item-info">
      <h3>Lorem Ipsum</h3>
      <div class="info-text">
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
      </div>
    </div>
  </div>

  <div class="copyright">
    <p>Lorem Ipsum 2023 ©</p>
  </div>
</footer>