<header>
    <div class="left-side">
        <div id="logo" class="img-container"><img src="../../assets/placeholder.png"></div>
        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="#"><span class="link-text">Inicio</span></a></li>
                <li class="navbar-item"><a class="navbar-link" href="#"><span class="link-text">Carta</span></a></li>
                <li class="navbar-item"><a class="navbar-link" href="#"><span class="link-text">Ofertas</span></a></li>
                <li class="navbar-item"><a class="navbar-link" href="#"><span class="link-text">Novedades</span></a></li>
            </ul>
        </nav>
    </div>
    <div class="right-side">
        <a href="#" id="shopping-car" class="img-container"><img src="../../assets/placeholder.png"></a>
        <div class="profile-info">
            <div class="points">
                <label>Puntos</label>
                <output class="points-output" name="mypoints" type="number"></output>
            </div>
            <a href="#" id="profile-icon" class="img-container"><img src="../../assets/placeholder.png"></a>
        </div>
    </div>
</header>