<!DOCTYPE html>
<html lang="es">

<body>
    <article class="choose-complement-article column">
        <h2 class="title">Lorem ipsum</h2>
        <div class="product-list" w3-include-html="../../components/html/lists/listProductItem.html"></div>
        <div class ="footer-list">
            <img id="arrow-left" class="arrow-button" src="../../assets/icons/left-arrow.png">
            <img id="arrow-right" class="arrow-button" src="../../assets/icons/right-arrow.png">
        </div>
    </article>
</body>

</html>