<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Banner_main</title>
    <link rel= "stylesheet" href="styles/banners/bannerMain.css" type="text/css">
</head>
<body>
    <div class="container">
        <img class="banner" src="../assets/Placeholder.png">
        <div class="container-info">
            <h1 class="title">Lorem Ipsum</h1>
            <a class="container-link" href="#"><button class="button">Lorem Ipsum</button></a>
        </div>
    </div>
</body>
</html>