<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Choose Complement</title>
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
    <link rel="stylesheet" href="styles/views/chooseComplementView.css" type="text/css">
</head>
<body>
    <article class="choose-complement-article column">
        <h2 class="title">Lorem ipsum</h2>
        <div class="product-list" w3-include-html="listProductItem.html"></div>
        <footer>
            <img id="arrow-left" class="arrow-button" src="../assets/icons/left-arrow.png">
            <img id="arrow-right" class="arrow-button" src="../assets/icons/rigth-arrow.png">
        </footer>
    </article>
</body>
<script>w3IncludeHTML();</script>
</html>