<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel= "stylesheet" href="styles/lists/listNewsAndOffers.css" type="text/css">
</head>
<body>
    <a id="link-left" class="link" href="#">
        <div id="new-left" class="new">
            <img src="../assets/Placeholder.png" >
            <div class="description">
                <h2 class="title">Lorem ipsum</h2>
                <p class="text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
            </div>
        </div>
    </a>

    <a id="link-right" class="link" href="#">
        <div id="new-right" class="new">
            <div class=description>
                <h2 class="title">Lorem ipsum</h2>
                <p class="text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
            </div>
            <img src="../assets/Placeholder.png" >
        </div>
    </a>
</body>
</html>