<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Conjunto de elementos</title>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link rel= "stylesheet" href="styles/lists/listProductItem.css" type="text/css">
</head>
<body>
    <div class="product-list">
        <div class="product" w3-include-html="productItem.html"></div>
        <div class="product" w3-include-html="productItem.html"></div>
        <div class="product" w3-include-html="productItem.html"></div>
        <div class="product" w3-include-html="productItem.html"></div>
        <div class="product" w3-include-html="productItem.html"></div>
        <div class="product" w3-include-html="productItem.html"></div>
        <div class="product" w3-include-html="productItem.html"></div>
    </div>
</body>
<script>w3.includeHTML()</script>
</html>