<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Modify Ingredients</title>
    <link rel="stylesheet" href="styles/views/modIngredientsView.css" type="text/css">
</head>
<body>
  <article class="mod-ingredient">
    <div class="left-side column">
      <div class="top">
        <h2 class="title">Lorem Ipsum</h2>

        <ul class="ingredients-list column">
          <li class="ingredient-item">
            <p>Lorem Ipsum</p>
            <div class="right-section">
              <img class="sum count-button" src="../assets/icons/plus-key-dark.png">
              <output class="ingredient-output" name="num-ingredient">0</output>
              <img class="sub count-button" src="../assets/icons/minus-key-dark.png">
            </div>
          </li>

          <li class="ingredient-item">
            <p>Lorem Ipsum</p>
            <div class="right-section">
              <img class="sum count-button" src="../assets/icons/plus-key-dark.png">
              <output class="ingredient-output" name="num-ingredient">0</output>
              <img class="sub count-button" src="../assets/icons/minus-key-dark.png">
            </div>
          </li>

          <li class="ingredient-item">
            <p>Lorem Ipsum</p>
            <div class="right-section">
              <img class="sum count-button" src="../assets/icons/plus-key-dark.png">
              <output class="ingredient-output" name="num-ingredient">0</output>
              <img class="sub count-button" src="../assets/icons/minus-key-dark.png">
            </div>
          </li>

          <li class="ingredient-item">
            <p>Lorem Ipsum</p>
            <div class="right-section">
              <img class="sum count-button" src="../assets/icons/plus-key-dark.png">
              <output class="ingredient-output" name="num-ingredient">0</output>
              <img class="sub count-button" src="../assets/icons/minus-key-dark.png">
            </div>
          </li>
        </ul>
      </div>

      <div class="buttons">
        <div id="left" class="arrow-button"><img src="../assets/icons/slider-left.png"></div>
        <div id="right" class="arrow-button"><img src="../assets/icons/slider-rigth.png"></div>
      </div>
    </div>

    <div class="right-side"><img src="../assets/Placeholder.png" alt="Imagen de ejemplo"></div>
  </article>
</body>
</html>