<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Points Section</title>
    <link rel= "stylesheet" href="styles/sections/pointsSection.css" type="text/css">
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
</head>
<body>
    <article class="points-section">
        <header class="text-box">
            <h3 class="boxed-text">Lorem Ipsum</h3>
        </header>
        <main class="content-box">
            <div class="clickable-image-box">
                <div class="clickable-image" w3-include-html="clickableImageItem.html"></div>
                <div class="clickable-image" w3-include-html="clickableImageItem.html"></div>
                <div class="clickable-image" w3-include-html="clickableImageItem.html"></div>
            </div>
            <div class="product-item-box">
                <div class="product" w3-include-html="productItem.html"> </div>
                <div class="product" w3-include-html="productItem.html"> </div>
                <div class="product" w3-include-html="productItem.html"> </div>
                <div class="product" w3-include-html="productItem.html"> </div>
                <div class="product" w3-include-html="productItem.html"> </div>
                <div class="product" w3-include-html="productItem.html"> </div>
                <div class="product" w3-include-html="productItem.html"> </div>
                <div class="product" w3-include-html="productItem.html"> </div>
            </div>
        </main>
    </article>
</body>
<script>w3IncludeHTML();</script>
</html>