<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel= "stylesheet" href="styles/views/productView.css" type="text/css">
</head>
<body>
    <article class="product-info">
        <img class="left-side" src="../assets/Placeholder.png"/>
        <div class="right-side column">
            <div class="product-description column">
                <h2 class="name">Lorem Ipsum</h2>
                <p class="description">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
            </div>
            <div class="button-container"><button id="add-product" class="input-button">Añadir </button></div>
        </div>
    </article>
</body>
</html>