@import "../basic.css";

header {
    position: sticky;
    width: 100%;
    height: 65px;

    display: flex;
    justify-content: space-between;

    background-color: var(--black);

    font-weight: bold;
}

header .left-side { display: flex; }
header .left-side .navbar { display: flex; }

header .left-side .navbar .navbar-list {
    width: 550px;

    padding: 0;
    margin: 0;

    display: flex;

    list-style: none;
}

header .left-side .navbar .navbar-list .navbar-item {
    width: 100%;

    padding: 0px 10px 0px 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

header .left-side .navbar .navbar-list .navbar-item .navbar-link {
    height: 100%;

    display: flex;
    align-items: center;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    color: var(--white-low);
    font-size: 12pt;
}

header .right-side {
    width: 220px;
    margin: 0px 10px 0px 0px;

    display: flex;
    justify-content: space-between;
}


header .right-side .profile-info {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
}

header .right-side .profile-info .points {
    display: flex;
    flex-direction: column;

    color: var(--white-low);

    width: 60px;
    margin-right: 10px;

    justify-content: center;
    align-items: flex-start;
}

header .right-side .profile-info .points label {
    font-size: 9pt;
    text-transform: uppercase;
    font-style: italic;
}

header .right-side .profile-info .points-output {
    width: 100%;
    height: 1.2em;
    font-size: 8pt;
    color: var(--black);
    background-color: var(--white);
}

header .img-container {
    padding: 10px;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 35px;
    width: 35px;

    background-color: var(--white);
}

header .left-side #logo { margin: 0px 10px 0px 10px; }

header .left-side #logo img {
    width: 65px;
    height: 100%;
}

header .left-side .navbar .navbar-list .navbar-item .navbar-link .link-text:hover { color: var(--aquamarine); }