@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --black: black;
    --dark-blue: #332464;
    --imperial-blue: #5442E5;
    --aquamarine: #39DEC5;
    --violet: #CB7EFF;
    --pastel-pink: #eeaeca;
    --red: #FF565D;
    --white: #f8f0fb;
    --white-low: rgba(248, 240, 251, 75%);
}

* { font-family: "Raleway", sans-serif; }

.column {
    display: flex;
    flex-direction: column;
}