<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Conjunto de elementos</title>
    <link rel="stylesheet" href="../../css/lists/listProductItem.css" type="text/css">
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
</head>
<body>
    <div class="product-list">
        <div class="product" w3-include-html="../items/productItem.html"></div>
        <div class="product" w3-include-html="../items/productItem.html"></div>
        <div class="product" w3-include-html="../items/productItem.html"></div>
        <div class="product" w3-include-html="../items/productItem.html"></div>
        <div class="product" w3-include-html="../items/productItem.html"></div>
        <div class="product" w3-include-html="../items/productItem.html"></div>
        <div class="product" w3-include-html="../items/productItem.html"></div>
    </div>
</body>
<script>w3IncludeHTML()</script>
</html>