<!DOCTYPE html>
<html lang="es">
<body>
    <div class="product-list">
        <div class="product-container" w3-include-html="../../components/html/items/productItem.html"></div>
        <div class="product-container" w3-include-html="../../components/html/items/productItem.html"></div>
        <div class="product-container" w3-include-html="../../components/html/items/productItem.html"></div>
        <div class="product-container" w3-include-html="../../components/html/items/productItem.html"></div>
        <div class="product-container" w3-include-html="../../components/html/items/productItem.html"></div>
        <div class="product-container" w3-include-html="../../components/html/items/productItem.html"></div>

    </div>
</body>

</html>