<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel= "stylesheet" href="styles/header.css" type="text/css">
</head>
<body>
  <header class="row">
      <div class="left-side row">
          <div id="logo" class="img-container"><img src="../../assets/Placeholder.png"></div>
          <nav class="navbar row">
              <ul class="navbar-list row">
                <li class="navbar-item"><a class="navbar-link" href="#"><span class="link-text">Inicio</span></a></li>
                <li class="navbar-item"><a class="navbar-link" href="#"><span class="link-text">Carta</span></a></li>
                <li class="navbar-item"><a class="navbar-link" href="#"><span class="link-text">Ofertas</span></a></li>
                <li class="navbar-item"><a class="navbar-link" href="#"><span class="link-text">Novedades</span></a></li>
              </ul>
          </nav>
      </div>
      <div class="right-side row">
          <a href="#" id="shopping-car" class="img-container"><img src="../../assets/Placeholder.png"></a>
          <div class="profile-info">
            <div class="points">
                <label>Puntos</label>
                <output class="points-output" name="mypoints" type="number"></output>
            </div>
            <a href="#" id="profile-icon" class="img-container"><img src="../../assets/Placeholder.png"></a>
          </div>
      </div>
  </header>
</body>
</html>