<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cart Item</title>
    <link rel="stylesheet" href="../../css/items/cartItem.css" type="text/css">
</head>
<body>
    <article class="cart-item">
        <div class="item-display">
            <img class="item-img" src="../../../assets/placeholder.png">
            <div class="text-container">
                <h3 class="title">Lorem Ipsum</h3>
                <p class="description">
                    Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
                    consectetur, adipisci velit...
                </p>
            </div>
        </div>

        <div class="right-section">
            <div class="remove-button-container">
                <img id="remove" class="button" src="../../../assets/icons/x-key.png">
            </div>


            <div class="quantity-price">
                <label class="text">Cantidad:</label>
                <img id="add" class="button" src="../../../assets/icons/plus-key.png">
                <output class="quantity">0</output>
                <img id="sub" class="button" src="../../../assets/icons/minus-key.png">
                <label class="price-text">Precio:</label>
                <output class="price">0 €</output>
            </div>
        </div>
    </article>
</body>
</html>