@import "../basic.css";

.cart-item {
    display: flex;
    justify-content: space-between;
    height: 300px;
    width: 100%;
    background-color: var(--violet);
    font-weight: bold;
    font-size: 140%;
    border: 2px solid var(--black);
}

.cart-item .item-display {
    display: flex;
    align-self: center;
    align-items: center;
    height: 75%;
    margin-left: 40px;
}

.cart-item .item-display .item-img {
    height: 100%;
    width: 17vw;

    background-color: var(--white);
}

.cart-item .item-display .text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 40px;
    width: 500px;
}

.cart-item .item-display .text-container .title {
    margin: 0px 0px 20px 0px;
    font-size: 200%;
    text-transform: uppercase;
}

.cart-item .right-section {
    padding: 20px 20px 40px 20px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item .right-section .remove-button-container {
    align-self: end;
}

.cart-item .right-section .quantity-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 20px;
    align-self: end;
}

.cart-item .button {
    width: 30px;
    height: 30px;
}

.cart-item #remove {
    width: 40px;
    height: 40px;
}

.cart-item .button:hover { box-shadow: 0px 0px 5px var(--white); }
.cart-item .button:active { transform: translateY(4px); }