@import "../basic.css";
@import "../items/clickableImageItem.css";
@import "../items/productItem.css";

.points-section .text-box {
    display: flex;

    justify-content: center;

    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
}

.points-section .content-box .clickable-image-box {
    display: inline-flex;
    width: 100%;
    background-color: var(--white);
}

.points-section .content-box .clickable-image-box .clickable-image-container .clickable-image { width: 100%; }

.points-section .content-box .product-item-box {
    display: flex;
    flex-wrap: wrap;

    margin-top: -5px;
    width: 100%;
}

.points-section .content-box .product-item-box .product-container {
    width: 25%;
    height: 300px;
}

.points-section .content-box .product-item-box .product-container .product {
    width: 100%;
    height: 100%;
}