<form class="delete-form column">
  <h2 class="title">Borrar Perfil</h2>

  <div class="content-section column">
    <p class="description">
      Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
      consectetur, adipisci velit...
    </p>

    <div class="input-section column">
      <input id="password" class="input" type="password" placeholder="Escribe tu contraseña">
    </div>
  </div>

  <div class="button-section">
    <a class="button-link" href="#"><button id="cancel-button" class="input-button">Cancelar</button></a>
    <a class="button-link" href="#"><button id="delete-button" class="input-button">Borrar</button></a>
  </div>
</form>