<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <link rel="stylesheet" href="../../css/forms/paymentForm.css" type="text/css">
</head>
<body>
  <form class="payment-form column">
    <h2>Pago con tarjeta</h2>

    <div class="section column">
      <div class="input-section column">
        <label for="num">Número</label>
        <input id="num" class="input-text" type="number" maxlength="9">
      </div>

      <div class="input-section column">
        <label>Fecha de expiración</label>
        <div class="date-section">
          <input id="month-expire" class="input-text small" type="number" maxlength="2">
          <label id="barra">/</label>
          <input id="year-expire" class="input-text small" type="number" maxlength="2">
        </div>
      </div>

      <div class="input-section column">
        <label for="name">Nombre</label>
        <input id="name" class="input-text" type="text">
      </div>

      <div class="input-section column">
        <label for="cvv">CVV</label>
        <input id="cvv" class="input-text small" type="number" maxlength="3">
      </div>

      <div class="input-section column">
        <label for="address">Calle</label>
        <input id="address" class="input-text" type="text">
      </div>
    </div>

    <a class="input-link" href="#"><button id="pay-button" class="input-button">Confirmar</button></a>
  </form>
</body>
</html>