
body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.container {
    position: relative;
    width: 100%;
    height: 20em;
}

.container .button {
    position: absolute;
    top: 80%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: rgb(85, 85, 85);
    color: white;
    font-size: 1em;
    cursor: pointer;
    padding: 1em 1.5em;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 5px
}

.container .title {
    position: absolute;
    top: 10%;
    left: 65%;
    color: darkorange;
    font-size: 4em;
}
.container .banner {
    transform: scaleX(-1);
    width: 100%;
    height: 20em;
}