@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
    --black: black;
    --dark-blue: #332464;
    --blue: #3C2FA4;
    --imperial-blue: #5442E5;
    --aquamarine: #39DEC5;
    --neon-blue: #03E9F4;
    --neon-violet: #FF26EB;
    --white: #f8f0fb;
    --white-low: rgba(248, 240, 251, 75%);
}

* { font-family: "Fjalla One", sans-serif; }

.container {
    position: relative;
    width: 100%;
    height: 30em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.container-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    height: 70%;
    margin-top: -27em;
    margin-left: 62%;
    align-items: end;
}

.container-info .button {
    position: relative;
    font-size: 17pt;
    text-transform: uppercase;
    cursor: pointer;
    width: 200px;
    height: 50px;

    background-color: var(--black);
    color: var(--white);
}

.container-info .title {
    position: relative;
    color: var(--white);
    font-size: 70pt;
    -webkit-text-stroke: 1px var(--black);
}

.container .banner {
    width: 100%;
    height: 30em;
    background-color: var(--white);
}

.container-info .button:hover { color: var(--aquamarine); }
.container-info .button:active { transform: translateY(4px); }