@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
    --black: black;
    --dark-blue: #332464;
    --imperial-blue: #5442E5;
    --aquamarine: #39DEC5;
    --violet: #CB7EFF;
    --red: #FF565D;
    --white: #f8f0fb;
    --white-low: rgba(248, 240, 251, 75%);
}

* {
    color: var(--white);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

.column {
    display: flex;
    flex-direction: column;
}

.edit-form {
    justify-content: space-between;
    align-items: center;

    width: 350px;
    height: 380px;
    padding: 30px 50px 50px 50px;

    background-color: var(--black);

    border-radius: 30px;
}

.edit-form .title {
    text-transform: uppercase;
    font-size: 25pt;
}

.edit-form .input-section { width: 320px; }

.edit-form .input-section input {
    height: 2em;

    border-radius: 30px;
    border: 3px solid transparent;
    background: linear-gradient(black, black) padding-box, linear-gradient(to right, var(--aquamarine), var(--violet)) border-box;

    position: relative;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 5px 12px;
}

.edit-form .button-section {
    display: flex;
    width: 125%;
    margin-left: 88px;
}

.edit-form .input-section input::placeholder {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: var(--white-low);
    padding-left: 5px;
}

.edit-form .input-section input:focus { box-shadow: 0px 0px 40px var(--violet); }
.edit-form .input-section input:hover { box-shadow: 0px 0px 40px var(--violet); }
.edit-form .button-section a { width: 80%; }

.edit-form .button-section a .input-button {
    width: 130px;
    height: 40px;

    background-color: var(--black);

    font-size: 14pt;
    font-weight: bold;
    text-transform: uppercase;
}

.edit-form .button-section a #cancel-button {
    box-shadow: 0px 3px 5px var(--aquamarine);
    color: var(--aquamarine);
}

.edit-form .button-section a #save-button {
    box-shadow: 0px 3px 5px var(--violet);
    color: var(--violet);
}

.edit-form .button-section a #cancel-button:hover {
    background-color: var(--aquamarine);
    color: var(--black);
}

.edit-form .button-section a #save-button:hover {
    background-color: var(--violet);
    color: var(--black);
}

.edit-form .button-section a .input-button:active { transform: translateY(5px); }