@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Teko:wght@300;400&display=swap');
:root {
    --black: black;
    --dark-blue: #090029;
    --turquoise: #22C29C;
    --violet: #C06DC6;
    --white: #f8f0fb;
}

body {
    display: flex;
    justify-content: center;

    font-family: 'Fjalla One', sans-serif;
}

footer {
    display: flex;
    flex-direction: column;

    bottom: 0;
    margin: 0;
    padding: 0;

    width: 100vw;
    background-color: var(--black);
    color: var(--white);
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100vw;

    margin: 0;
    padding: 10px;
}

.copyright {
    display: flex;
    justify-content: center;

    background-color:var(--dark-blue);
}