@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Teko:wght@300;400&display=swap');
:root {
    --dark-blue: #1D0C3B;
    --gray-blue: #453560;
    --white: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;

    font-family: 'Teko', sans-serif;
    background-color: var(--dark-blue);
}

.row {
    display: flex;
    flex-direction: row;
}

header {
    position: sticky;
    justify-content: space-between;
    background-color: var(--gray-blue);
    height: 65px;
}

.left-side { justify-content: space-between; }

.logo {
    padding: 10px;
    margin: 0;
}

.logo img {
    width: 65px;
    height: 100%;
}

.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-item {
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.navbar-link {
    display: flex;
    align-items: center;

    height: 4rem;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 17pt;
}

