
img {
    width: 100px;
    height: 100px;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 5px;

    background-color: blueviolet;
}

.row {
    display: flex;
    flex-direction: row;
}

.pages-list {
    width: 100%;
    padding: 0;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

.page {
    background-color: rgba(203, 108, 230, 0.5);
    border: none;
}