@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
    --black: black;
    --dark-blue: #332464;
    --imperial-blue: #5442E5;
    --aquamarine: #39DEC5;
    --violet: #CB7EFF;
    --red: #FF565D;
    --white: #f8f0fb;
    --white-low: rgba(248, 240, 251, 75%);
}

* {
    color: var(--white);
    font-family: "Raleway", sans-serif;
}
.payment-form{
    justify-content: space-between;
    align-items: center;

    width: 400px;
    height: 550px;
    padding: 30px 50px 50px 50px;

    background-color: var(--black);

    border-radius: 30px;
}
.payment-form .section {
    height: 2em;

    border-radius: 30px;
    border: 3px solid transparent;
    background: linear-gradient(black, black) padding-box, linear-gradient(to right, var(--aquamarine), var(--violet)) border-box;

    position: relative;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 5px 12px;

}