@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
    --black: black;
    --dark-blue: #332464;
    --blue: #3C2FA4;
    --imperial-blue: #5442E5;
    --aquamarine: #39DEC5;
    --neon-blue: #03E9F4;
    --neon-violet: #F226FF;
    --violet: #C06DC6;
    --white: #f8f0fb;
    --white-low: rgba(248, 240, 251, 75%);
}

* { font-family: "Raleway", sans-serif; }
.text_box{
    display: flex;
    justify-content: center;
    background-color:  var(--black);
    text-transform: uppercase;
    color: var(--white);

}
.text{
    justify-self: center;


}
.highlightedBox{
    display: inline-flex; /* establece las imágenes como elementos en línea */

    background-size: cover;
    width: 100%;

    position: relative;
}
.highlight {
    width: 100%;
}

.image_link a{

    height: 600px;
}

.image{
    width: 100%;


}


.unhighlightedBox{
    display: flex;
    flex-wrap: wrap;

}
.unhiglighted {
    width: 25%;
    

}
