<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In Form</title>
    <link rel="stylesheet" href="styles/logInForm.css" type="text/css">
</head>
<body>
    <form class="login-form column">
        <h2>Iniciar sesión</h2>

        <div class="input-section column">
            <input id="email" class="input" type="email" placeholder="Correo electrónico">
            <input id="password-first" class="input" type="password" placeholder="Contraseña">
        </div>

        <a class="button-link" href="#"><button id="login-button" class="input-button">Iniciar</button></a>
        <a class="button-link" href="#"><button id="signup-button" class="input-button">Registrarse</button></a>
    </form>
</body>
</html>